# Gmail Notification Settings
GMAIL_NOTIFICATION_TOPIC=credentials.json
# Flask Settings
FLASK_SECRET_KEY=19ae4e58c9cd6f449883289aa9b38e3d2f86ed7182eaa3f79bfc7af229a6ee31
FLASK_ENV=production
SESSION_TYPE=filesystem  # or 'redis' for production

# CORS Settings
FRONTEND_URL=http://localhost:5173 